<% if mobile? %>
<%= render 'mobile-footer' %>
<% else %>

<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter-square"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>


  <div class="footer-dac">
    <p>Distribuidora de Alambres de la Costa <i class="far fa-copyright"></i> 2018</p>
    <p>Elaborado por: <%= link_to "Hoxton Technologica", "www.hoxtontechnologica.com" , class: "footer-dac" %></p>
  </div>
  <div class="footer-dac-two">
    <p><i class="fas fa-envelope-square"></i> <%= mail_to 'servicioalcliente@distribuidoradealambres.com', 'servicioalcliente@distribuidoradealambres.com', class: "footer-email-link"%></p>
    <p><i class="fas fa-phone-square"></i> 3401999</p>
  </div>
  <div class="footer-copyright">
    	<p>Politica de Privacidad</p>
    	<p>Terminos de Uso</p>
    </ul>
  </div>
</div>
<% end %>