<div class="conocenos-container">
	<div>
		<h2>Conocenos: </h2>
		<div class="conocenos-pertenecemos">
			<p>Pertenecemos a la red de empresas de:</p>
			<ul>
				<li><%= link_to "Central de Hierros ltda.", "http://www.centraldehierros.com/" %></li>
				<li><%= link_to "Centro Aceros del Caribe.", "http://www.centroacerosdelcaribe.com/" %></li>
				<li><%= link_to "Central de Servicios EU.", "http://www.centraldeservicios.com.co/" %></li>
			</ul>
		</div>
		
		<div class="conocenos-somos">
			<p>Somos distribuidores exclusivos de Oliveira SA</p>
		</div>

		<div class="conocenos-bio"> 
			<p>A cerca de <%= link_to 'Oliveira SA', "http://www.oliveirasa.com" %>:</p>
			<p>Fundada en Portugal en el año 1825, Oliveria SA tiene una extensa historia en la produccion de cables de acero y sinteticos. En el año 2010 la empresa WireCo WorldGroup adquirio Oliveira SA permitiendole unirse a una variedad de marcas reconocidas globalmente. Hoy en dia Oliveria SA tiene dos plantas de produccion (ISO 9001 certificadas). La planta principal se encuentra en Maia a 5 minutos del aeropuerto de Oporto en Portugal y la segunda planta se encuentra en Paredes, aproximadamente 35km de Oporto. Oliveira SA hace parte de las siguientes afiliaciones:</p>
			<ul>
				<li>AICR (en Portugal)</li>
				<li>EUROCORD (Asociacion Europea de Productores de Cabos Sinteticos</li>
				<li>EWIRS (Federacion Europea de Industrias Productoras de Cables de Acero</li>
			</ul>
		</div>
	</div>
</div>