
<div class="servicios-container">
	<h2>Servicios</h2>

	<div class="servicios-block">
	<i class="fas fa-bus servicios-bottom-icon servicios-bubble-icon"></i><p class="servicios-bubble">Contamos con flota logistica propia</p>
	</div>

	<div class="servicios-block">
	<i class="fas fa-cubes servicios-bottom-icon servicios-bubble-icon"></i><p class="servicios-bubble">Prestamos Servicios de Corte, Empaque y Envio</p>
	</div>

	<div class="servicios-block">
	<i class="fas fa-balance-scale servicios-bottom-icon servicios-bubble-icon"></i><p class="servicios-bubble">Prestamos Servicios de Asesoria</p>
	</div>
</div>