.home-banner {
  background-image: linear-gradient(  rgba(255, 255, 255, 0.8) 70%, white), url('construction-crane.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 1100px;
  color: black;
  padding-top: 40vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.banner-title{
  font-family: 'Anton', sans-serif;
  letter-spacing: 3px;
}

.home-banner-background{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 10px;
}

.home-banner-btn{
  border-radius: 25px;
  background-color: #4fcc54;
  color: white;
  height: 36px;
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-banner-btn:hover{
  text-decoration: none;
  color: white;
  opacity: 0.8;
}