.home-banner {
  background-image: url('https://images.unsplash.com/photo-1530273973427-22351773250c?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b4401619750134a727fca9403109d55b&auto=format&fit=crop&w=2550&q=80');
  background-size: cover;
  height: 100vh;
  color: #eee;
  text-align: center;
  padding-top: 40vh;
}