// MOBILE ################################

.mobile-footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 12px;
  padding: 0px 5px;
}

.mobile-footer-dac p {
  font-size: 7px;
  display: flex;
  margin-bottom: 3px;
}

.mobile-footer-dac a{
  color: #4fcc54;
  font-size: 8px;
  margin-left: 6px;
}

.mobile-footer {
  box-shadow: 1px rgba(0,0,0,0.03),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  width: 417px;
  padding: 0px 10px;
  color: rgba(0,0,0,0.3);
}

.mobile-productos-title{
  margin-bottom: 30px;
  text-decoration: underline;
}

.mobile-footer-dac-two{
  font-size: 7px;
}

.mobile-footer-dac-two a{
  font-size: 6px;
  color: #4fcc54;
}

.mobile-footer-dac-two {
  font-size: 7px;
}

.mobile-footer-column{
  display: flex;
  flex-direction: column;
}

.mobile-footer-copyright p{
  font-size: 7px;
}

 // ################################

.footer {
  box-shadow: 5px 1px 1px 3px rgba(0,0,0,0.03),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 20px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
  color:  #4fcc54;
}

.footer-copyright p{
  font-size: 10px;
}

.footer-copyright p:hover{
  color:  #4fcc54;
}

.footer-dac{
  font-size: 12px;
}

.footer-dac a{
  color: #4fcc54
}

.footer-dac a:hover{
  color: #4fcc54;
}

.footer-dac-two{
  font-size: 12px;
}

.footer-dac-two a{
  font-size: 12px;
  color: #4fcc54;
}

.footer-dac-two a:hover{
  font-size: 12px;
}


.footer-email-link a{
  color:#4fcc54;
}

.footer-email-link:hover{
  color: #4fcc54;;
}


